:root{
    /*general collor*/
    --textColor: #FFFFFF;
    --black: #000000;
    /*blue pallete*/
    --blue1: #0A2647;
    --blue2: #144272;
    --blue3: #205295;
    --blue4: #2C74B3;

    /*cyan pallete*/
    --cyan1: #222831;
    --cyan2: #393E46;
    --cyan3: #00ADB5;
    --cyan4: #EEEEEE;
}

/*#region Up devider*/
.up-devider{
    overflow:hidden;
    position:relative;
    transform: translateY(2px);
}
.up-devider::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 200% 100px;
    background-position: 50% 100%;
    transform: rotateY(180deg); background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 91.5"><path fill="%23222831" d="M0 92V65c14 2 29-3 42-11 21-12 40-29 63-34 24-4 48 7 71 16 21 9 42 17 64 19 47 5 94-17 140-33s98-25 139 3c13 9 25 21 39 19 10 0 18-7 26-12 34-21 75-27 112-15 12 4 25 11 31 25 8 17 28 26 45 22s30-15 46-23c51-29 111-24 167-18l15 2 15-2c56-6 116-11 168 18 15 8 29 19 45 23s37-5 45-22c6-14 19-21 31-25 37-12 78-6 112 15 8 5 16 12 26 13 14 1 26-11 39-20 41-28 93-19 139-3s93 38 140 33c22-2 43-10 64-19 23-9 47-20 71-16 23 5 42 22 63 34 13 8 28 13 42 11v27z" opacity=".75"/><path fill="%23222831" d="M1458 92c21-9 48-19 80-30a127 127 0 0165-4h1l32 7 19 4a78 78 0 0019 2 87 87 0 0024-5 180 180 0 0025-10l6-4 2-1 7-3 2-1 21-10c16-6 31-7 46-4s31 9 46 15l19 8c19 8 38 14 58 13h3a71 71 0 0032-10 97 97 0 0019-16 283 283 0 0016-18v35c-18 10-38 18-57 21-31 5-69-5-99-13l-10-3a70 70 0 01-10-5c-17-9-36-16-54-7l-1 1a199 199 0 00-18 12l-11 7a76 76 0 01-11 5 87 87 0 01-18 4 124 124 0 01-19 2 265 265 0 01-32-2c-21-3-43-7-62-5-17 2-32 7-47 15zM815 92l2-1 15-12 24-17a424 424 0 0165-36 331 331 0 0131-12l21-6a98 98 0 0154 0l21 6a331 331 0 0131 12 424 424 0 0165 36l24 17 15 12 2 1h-8l-9-7c-41-30-116-28-168-2-52-26-127-28-168 2l-9 7z" opacity=".51"/><path fill="%23222831" d="M1304 92v-1c17-12 33-27 50-38 16-10 33-16 54-13a251 251 0 0128 6c29 7 56 16 83 0l11-6c45-21 111-27 178 2l21 10v1q11 5 22 13a307 307 0 0133 26h-82a403 403 0 00-28-21 238 238 0 00-35-20 138 138 0 00-14-5 140 140 0 00-17-5 91 91 0 00-32 0 103 103 0 00-24 7c-31 13-56 36-115 21-11-3-19-9-30-12l-4-1c-10-3-19 0-27 4-12 7-23 17-32 23l-15 9z" opacity=".51"/><circle  fill="%23222831" cx="1940.8" cy="27.4" r="17.1" transform="rotate(-67 1934 23)" opacity=".51"/><path fill="%23222831" d="M1420 92a19 19 0 0132-5 18 18 0 012 5z"/><circle  fill="%23222831" cx="1710.8" cy="61.6" r="13.4"/><circle  fill="%23222831" cx="1741.9" cy="28.9" r="5.9" opacity=".51"/><circle  fill="%23222831" cx="1060.7" cy="27.8" r="18.6" opacity=".51"/><circle  fill="%23222831" cx="1320.5" cy="57.1" r="13.4"/><circle  fill="%23222831" cx="1109" cy="9.2" r="8.9" opacity=".51"/><circle  fill="%23222831" cx="1625.5" cy="17.4" r="8.9" transform="rotate(-45 1615 13)" opacity=".51"/><circle  fill="%23222831" cx="1887.5" cy="6.9" r="6.1" opacity=".51"/><path fill="%23222831" d="M1166 92v-2a80 80 0 01155 1l1 1z" opacity=".51"/><path fill="%23222831" d="M0 92V48a63 63 0 0115-5h1c16-3 33 0 50 3l62 10a363 363 0 0048 4l20-1a323 323 0 0035-5l31-6 30-6a195 195 0 0183 4l22 5a108 108 0 0027 2 109 109 0 0024-5l22-8c14-5 29-9 44-9 17 1 34 8 50 15l29 11a72 72 0 0034 3 84 84 0 0019-7l18-8a128 128 0 0196-3l4 2 32 14 4 1c18 5 37 4 56 3h1l77-5a121 121 0 0166 9l4-2c19-10 41-8 62-7l77 5h1a166 166 0 0060-4l32-14 4-2a128 128 0 0196 3l18 8a84 84 0 0019 7h3c10 2 21 0 31-3l29-11c16-7 33-14 50-15 15 0 30 4 44 9l22 8a109 109 0 0024 5 108 108 0 0027-2l22-5a443 443 0 0124-5c20-3 40-2 59 1l30 6 31 6a323 323 0 0035 5l20 1a363 363 0 0048-4l62-10c17-3 34-6 50-3h1a63 63 0 0115 5v44z"/><path fill="%23222831" d="M542 92c-21-9-48-19-80-30a127 127 0 00-65-4h-1l-32 7-19 4a78 78 0 01-19 2 87 87 0 01-24-5 180 180 0 01-25-10l-6-4-2-1-7-3-2-1-21-10c-16-6-31-7-46-4s-31 9-46 15l-19 8c-19 8-38 14-58 13h-3a71 71 0 01-32-10 97 97 0 01-19-16A283 283 0 010 25v35c18 10 38 18 57 21 31 5 69-5 99-13l10-3a70 70 0 0010-5c17-9 36-16 54-7l1 1a199 199 0 0118 12l11 7a76 76 0 0011 5 87 87 0 0018 4 124 124 0 0019 2 265 265 0 0032-2c21-3 43-7 62-5 17 2 32 7 47 15z" opacity=".51"/><path fill="%23222831" d="M696 92v-1c-17-12-33-27-50-38a78 78 0 00-54-13 251 251 0 00-28 6c-29 7-56 16-83 0l-11-6c-45-21-111-27-178 2l-21 10v1q-11 5-22 13a307 307 0 00-33 26h82a403 403 0 0128-21 238 238 0 0135-20 138 138 0 0114-5 140 140 0 0117-5 91 91 0 0132 0 103 103 0 0124 7c31 13 56 36 115 21 11-3 19-9 30-12l4-1c10-3 19 0 27 4 12 7 23 17 32 23l15 9z" opacity=".51"/><circle  fill="%23222831" cx="59.2" cy="27.4" r="17.1" transform="rotate(-23 38 23)" opacity=".51"/><path fill="%23222831" d="M580 92a19 19 0 00-32-5 18 18 0 00-2 5z"/><circle  fill="%23222831" cx="289.2" cy="70" r="13.4" transform="rotate(-2 69 66)"/><circle  fill="%23222831" cx="258.1" cy="28.9" r="5.9" opacity=".51"/><circle  fill="%23222831" cx="939.3" cy="27.8" r="18.6" opacity=".51"/><circle  fill="%23222831" cx="679.5" cy="57.1" r="13.4"/><circle  fill="%23222831" cx="891" cy="9.2" r="8.9" opacity=".51"/><circle  fill="%23222831" cx="374.5" cy="17.4" r="8.9" transform="rotate(-45 364 13)" opacity=".51"/><circle  fill="%23222831" cx="112.5" cy="6.9" r="6.1" opacity=".51"/><path fill="%23222831" d="M834 92v-2a80 80 0 00-155 1l-1 1z" opacity=".51"/></svg>');
}

/*#endregion*/
/*#region Down devider*/
.down-devider{
    overflow:hidden;
    position:relative;
    transform: translateY(-2px);
}
.down-devider::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 200% 100px;
    background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 91.5"><path fill="%23222831" d="M2000 0v26c-14-1-29 4-42 11-21 12-40 30-63 34-24 5-48-6-71-16-21-8-42-16-64-18-47-5-94 17-140 33s-98 25-139-4c-13-8-25-20-39-19-10 1-18 7-26 12-34 22-75 28-112 15-12-4-25-11-31-24-8-18-28-26-45-23s-30 15-46 24c-51 28-111 23-167 18l-15-2-15 2c-56 5-116 10-168-18-15-9-29-20-45-24s-37 5-45 23c-6 13-19 20-31 24-37 13-78 7-112-15-8-5-16-11-26-12-14-1-26 11-39 19-41 29-93 20-139 4s-92-38-140-33c-22 2-43 10-64 18-23 10-47 21-71 16-23-4-42-22-63-34-13-7-28-12-42-11V0z" opacity=".75"/><path fill="%23222831" d="M542 0c-21 9-48 18-80 29a127 127 0 01-65 5l-1-1-32-7-19-4a78 78 0 00-19-1 87 87 0 00-24 4 180 180 0 00-25 11l-6 3-2 1-7 4-2 1-21 9c-16 7-31 7-46 4-15-2-31-8-46-15l-19-8c-19-7-38-13-58-12h-3a71 71 0 00-32 10 97 97 0 00-19 16A283 283 0 000 67V32c18-11 38-19 57-22 31-4 69 5 99 14l10 3a70 70 0 0110 5c17 8 36 15 54 6l1-1a199 199 0 0018-11l11-7a76 76 0 0111-5 87 87 0 0118-5 124 124 0 0119-1 265 265 0 0132 2c21 2 43 7 62 5 17-2 32-8 47-15zM1185 0l-2 1-15 11-24 18a424 424 0 01-65 35 331 331 0 01-31 12q-10 4-21 6a132 132 0 01-27 4 132 132 0 01-27-4q-11-2-21-6a331 331 0 01-31-12 424 424 0 01-65-35l-24-18-15-11-2-1h8l9 6c41 30 116 29 168 3 52 26 127 27 168-3l9-6z" opacity=".51"/><path fill="%23222831" d="M696 0c-17 13-33 28-50 39a78 78 0 01-54 13 251 251 0 01-28-6c-29-8-56-17-83 0l-11 5c-45 21-111 28-178-2q-11-4-21-10l-22-13a307 307 0 01-33-26h82a403 403 0 0028 21 238 238 0 0035 19 138 138 0 0014 6 140 140 0 0017 4 91 91 0 0032 1 103 103 0 0024-7c31-14 56-36 115-21 11 2 19 8 30 12l4 1c10 2 19 0 27-5 12-6 23-17 32-23l15-8z" opacity=".51"/><circle  fill="%23222831" cx="59.2" cy="72.6" r="17.1" transform="rotate(-67 59 73)" opacity=".51"/><path fill="%23222831" d="M580 0a19 19 0 01-6 9 19 19 0 01-26-5 18 18 0 01-2-4z"/><circle  fill="%23222831" cx="289.2" cy="30" r="13.4"/><circle  fill="%23222831" cx="258.1" cy="62.6" r="5.9" opacity=".51"/><circle  fill="%23222831" cx="939.3" cy="63.8" r="18.6" opacity=".51"/><circle  fill="%23222831" cx="679.5" cy="34.4" r="13.4"/><circle  fill="%23222831" cx="891" cy="82.3" r="8.9" opacity=".51"/><circle  fill="%23222831" cx="374.5" cy="82.7" r="8.9" transform="rotate(-45 375 83)" opacity=".51"/><circle  fill="%23222831" cx="112.5" cy="84.7" r="6.1" opacity=".51"/><path fill="%23222831" d="M834 0v1a80 80 0 01-27 42 80 80 0 01-41 18 80 80 0 01-29-2 80 80 0 01-58-59h-1z" opacity=".51"/><path fill="%23222831" d="M2000 0v44a63 63 0 01-15 4l-1 1c-16 2-33 0-50-3l-62-11a363 363 0 00-48-3h-20a323 323 0 00-35 5l-31 7-30 5a195 195 0 01-83-3l-22-5a96 96 0 00-51 3l-22 7c-14 5-29 10-44 9-17 0-34-7-50-14-9-4-19-9-29-11a72 72 0 00-34-3 84 84 0 00-19 7l-18 8a128 128 0 01-96 2l-4-2c-11-4-21-10-32-13l-4-2c-18-5-37-4-56-2h-1l-77 5a121 121 0 01-66-9l-4 2c-19 9-41 8-62 7l-77-5h-1a166 166 0 00-60 4c-11 3-21 9-32 13l-4 2a128 128 0 01-96-2l-18-8a84 84 0 00-19-7l-3-1c-10-1-21 0-31 4-10 2-19 7-29 11-16 7-33 14-50 14-15 1-30-4-44-9l-22-7a96 96 0 00-51-3l-22 5a443 443 0 01-24 5c-20 3-40 1-59-2l-30-5-31-7a323 323 0 00-35-5h-20a363 363 0 00-48 3L66 46c-17 3-34 6-50 3h-1a63 63 0 01-15-5V0z"/><path fill="%23222831" d="M1458 0c21 9 48 18 80 29a127 127 0 0065 5l1-1 32-7 19-4a78 78 0 0119-1 87 87 0 0124 4 180 180 0 0125 11l6 3 2 1 7 4 2 1 21 9c16 7 31 7 46 4 15-2 31-8 46-15l19-8c19-7 38-13 58-12h3a71 71 0 0132 10 97 97 0 0119 16 283 283 0 0116 18V32c-18-11-38-19-57-22-31-4-69 5-99 14l-10 3a70 70 0 00-10 5c-17 8-36 15-54 6l-1-1a199 199 0 01-18-11l-11-7a76 76 0 00-11-5 87 87 0 00-18-5 124 124 0 00-19-1 265 265 0 00-32 2c-21 2-43 7-62 5-17-2-32-8-47-15z" opacity=".51"/><path fill="%23222831" d="M1304 0c17 13 33 28 50 39 16 10 33 16 54 13a251 251 0 0028-6c29-8 56-17 83 0l11 5c45 21 111 28 178-2q11-4 21-10l22-13a307 307 0 0033-26h-82a403 403 0 01-28 21 238 238 0 01-35 19 138 138 0 01-14 6 140 140 0 01-17 4 91 91 0 01-32 1 103 103 0 01-24-7c-31-14-56-36-115-21-11 2-19 8-30 12l-4 1c-10 2-19 0-27-5-12-6-23-17-32-23l-15-8z" opacity=".51"/><circle  fill="%23222831" cx="1940.8" cy="72.6" r="17.1" transform="rotate(-23 1941 73)" opacity=".51"/><path fill="%23222831" d="M1420 0a19 19 0 006 9 19 19 0 0026-5 18 18 0 002-4z"/><circle  fill="%23222831" cx="1710.8" cy="30" r="13.4" transform="translate(0 66)"/><circle  fill="%23222831" cx="1741.9" cy="62.6" r="5.9" opacity=".51"/><circle  fill="%23222831" cx="1060.7" cy="63.8" r="18.6" opacity=".51"/><circle  fill="%23222831" cx="1320.5" cy="34.4" r="13.4"/><circle  fill="%23222831" cx="1109" cy="82.3" r="8.9" opacity=".51"/><circle  fill="%23222831" cx="1625.5" cy="82.7" r="8.9" transform="rotate(-45 1625 83)" opacity=".51"/><circle  fill="%23222831" cx="1887.5" cy="84.7" r="6.1" opacity=".51"/><path fill="%23222831" d="M1166 0v1a80 80 0 0027 42 80 80 0 0041 18 80 80 0 0029-2 80 80 0 0058-59h1z" opacity=".51"/></svg>');
}

/*#endregion*/

.devider{
    width: 100%;
    height: 100px;

}




html {
    scroll-behavior: smooth;
    font-family: Helvetica Neue, "Myriad Pro", serif;
}

h1{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
}
p{
    font-size: 12pt;
    font-weight: normal;
    text-align: justify;
}
/*
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
*/
/*#region Header & navigation*/
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--cyan1);
}
header a{
    color: var(--textColor);

}
#logo a{
    z-index: 2;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-decoration: none;

}
body{
    background: var(--cyan2);
    color: var(--textColor);
}

menu{
    position: absolute;
    right: 20px;
    z-index: 1;
    display: block;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer p{
    margin: 10px 0;
}

/*#endregion*/

/*#region Hamburger menu*/
#menu {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--cyan1);
    z-index: 1;
}
#menu-list{
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    top: 30%;
}
#menu-list a{
    text-decoration: none;
    color: var(--textColor);
    font-size: 16pt;
    font-weight: bold;
}
#socials-list{
    position: fixed;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
#socials-list i{
    color: var(--textColor);
}

/*#endregion*/

#first-section-index{
    height: calc(100vh - 200px);
}

.section-content, footer{
    margin: 0 25px;
}
#section-2{
    background: var(--cyan1);
    height: auto;
    padding: 25px 0;
}
#section-1, #section-3 {
    height: auto;
    padding: 25px 0;
}


/*
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}*/
.section-content, .main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    gap: 25px;
}
.main-image{
    width: 200px;
    height: 200px;
}

/*#region Buttons*/
.pushable {
    background: var(--blue2);;
    border-radius: 15px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
    display: block;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    background: var(--blue4);;
    color: var(--textColor);
    transform: translateY(-6px);
}
.front:hover{
    background: var(--blue3);
}
.pushable:active .front {
    transform: translateY(-2px);
}
/*#endregion*/

a#scroll-down-arrow-btn{
    color: black;
    margin-top: 5vh;
}
.programing-languages{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#about-me-main-img{
    width: 100%;
}

#software ul li:first-child{
    font-weight: bold;
}
#software{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
#software ul{
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#school-thesis{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
#school-thesis h2 {
    font-weight: bold;
}
.thesis{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.thesis .pushable{
    transform: translateY(5px);
}
.thesis img{
    width: 75%;
}
#certificates{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#categories{
    display: grid;
    grid-template:
            "a a a"
            "a a a"
            "a a a";
    width: 100%;
    gap: 10px;
}

#categories p{
    width: 96px;
    height: 96px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #about-me-main-img{
        width: 50%;
    }
}

